.container-header{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-search{
    box-shadow: -3px 5px 37px -15px rgba(0,0,0,0.75);
    border-radius: 20px;
    display: flex;   
}
.container-search-2{
 padding: 10px;   
}
.divider{
    width: 1px;
    height: 40px;
    background-color: gray;
}